
nav a {
    margin: 2rem;
    transition: 0.3s ease;
}

nav a:hover {
    opacity: 30%;
}

.header-logo {
    transition: 0.3s ease;
}

.cart-button {
    font-size: 40px;
    transition: 0.3s ease;
}

.hamburger-icon:hover,
.header-logo:hover,
.cart-button:hover {
    opacity: 30%;
}


/* ### TOAST ### */

.toast-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 8rem;
    right: 2rem;
    width: 300px;
    height: 150px;
}

.toast {
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
    color: var(--color-secondary);
    padding: 2rem;

}

.toast.success {
    background-color: var(--color-primary);
}

.toast.error {
    background-color: red;
    color: var(--color-white);
}


/* ### CAROUSEL ### */

.carousel-container {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 250px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carousel-left-btn,
.carousel-right-btn {
    height: 100px;
    width: 50px;
    border: none;
    background-color: var(--color-secondary);
    box-shadow: var(--outer-shadow-large);
}

.carousel-left-btn i,
.carousel-right-btn i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 100%;
    width: 100%;
    color: var(--color-primary);
    cursor: pointer;
}

.carousel-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    height: auto;
    margin-bottom: 2rem;
    padding: 0;
    background-color: var(--color-secondary);
    border: 1rem solid var(--color-secondary);
    box-shadow: var(--outer-shadow-large);
}
.carousel-product-container {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    padding-top: 0;
    height: 228px;
    width: 220px;
    background-color: var(--color-secondary);
}

.carousel-image-container {
    height: 120px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease;
}

.carousel-image-container:hover {
    opacity: 30%;
    cursor: pointer;
}

.carousel-image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-desc-container {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-tertiary);
    box-shadow: var(--inner-shadow-small);
    gap: 1rem;
}

.carousel-price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.carousel-price-span {
    text-decoration: line-through;
    font-weight: normal;
    font-size: 18px;
}

.carousel-price-strong {
    font-size: 22px;
    
}

.carousel-add-to-cart-btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 10px 15px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: var(--outer-shadow-small);
    transition: 0.3s, ease;
}

.carousel-add-to-cart-btn:hover {
    opacity: 33%;
}


.add-to-cart-btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 15px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: var(--outer-shadow-small);
    transition: 0.3s, ease;
}

.add-to-cart-btn:hover {
    opacity: 33%;
}

.share-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    background: var(--color-secondary);
    border: none;
    border-radius: 5px;
    height: 45px;
    width: 45px;
    box-shadow: var(--outer-shadow-small);
    transition: 0.3s, ease;
}

.share-btn:hover {
    opacity: 30%;
    cursor: pointer;
}

.share-btn i {
    color: var(--color-primary);
    font-size: 30px;
}

.footer-buttons a {
    transition: 0.3s ease;
}

.footer-buttons a:hover {
    opacity: 30%;
}

.footer-socials i {
    font-size: 1.5em;
}