/* ### HEADER ### */

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;
}

.toggleBtn-container {
    display: flex;
    flex: 1;
}

.toggle-btn,
.cart-button {
    background: transparent;
    border: none;
    transition: 0.3s ease;
}

.toggle-btn:hover,
.cart-button:hover {
    opacity: 30%;
    cursor: pointer;
}

.toggle-btn i {
    font-size: 44px;
}

.dropdown-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 22px;
    top: 100%;
    left: 0;
    width: 400px;
    background: var(--color-secondary);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 25;
}

.dropdown-nav a {
    display: flex;
    gap: 10px;
    margin: 2rem;
    flex-direction: row-reverse;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

nav a:hover {
    opacity: 30%;
}

.logo-img-mobile {
    display:none;
}

.header-buttons-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
    gap: 60px;
}

.header-login-btn {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 25px;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

.header-login-btn:hover {
    opacity: 30%;
    cursor: pointer;
}

.header-register-btn {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    box-shadow:0px 0px 0px 3px var(--color-primary) inset;
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

.header-register-btn:hover {
    opacity: 100%;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.cart-button i {
    font-size: 37px;
}

.menu-log-out-btn {
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    font-weight: bold;
    gap: 10px;
    background: transparent;
    color: var(--color-primary);
    border: none;
    margin: 2rem;
    margin-left: 27px;
    transition: 0.3s ease;
}

.menu-log-out-btn:hover {
    opacity: 30%;
    cursor: pointer;
}

.menu-log-out-btn i {
    font-size: 25px;
}

.header-logo {
    transition: 0.3s ease;
}

.cart-button {
    transition: 0.3s ease;
}

.header-logo:hover,
.cart-button:hover {
    opacity: 30%;
}


/* ### TOAST ### */

.toast-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 8rem;
    right: 2rem;
    width: 350px;
    height: 200px;
    padding: 15px;
    border: 15px solid var(--color-secondary);
    background-color: var(--color-primary);
    box-shadow: var(--inner-shadow-small), var(--outer-shadow-large);
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    border: none;
    background: transparent;
    transition: 0.3s ease;
}

.close-btn i {
    font-size: 20px;
    text-shadow:color(from color srgb r g b); /* Fix this later, cant use box-shadow */
}

.close-btn:hover {
    opacity: 30%;
    cursor: pointer;
}

.toast {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    word-break: break-word;
    font-weight: bold;
    gap: 20px;


}

.toast-title {
    font-size: 20px;
}

.toast-tile.success {
    color: var(--color-secondary);
    text-align: center;
}

.toast-title.error {
    color: red;
}

.toast-title.removed {
    color: red;
}

.toast-message {
    color: var(--color-secondary);
    font-weight: normal;
}


/* ### CAROUSEL ### */

.carousel-container {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 250px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carousel-left-btn,
.carousel-right-btn {
    height: 100px;
    width: 50px;
    border: none;
    background-color: var(--color-secondary);
    box-shadow: var(--outer-shadow-large);
}

.carousel-left-btn i,
.carousel-right-btn i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 100%;
    width: 100%;
    color: var(--color-primary);
    cursor: pointer;
}

.carousel-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    height: auto;
    margin-bottom: 2rem;
    padding: 0;
    background-color: var(--color-secondary);
    border: 1rem solid var(--color-secondary);
    box-shadow: var(--outer-shadow-large);
}
.carousel-product-container {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    padding-top: 0;
    height: 228px;
    width: 220px;
    background-color: var(--color-white);
}

.carousel-image-container {
    height: 120px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease;
}

.carousel-image-container:hover {
    opacity: 30%;
    cursor: pointer;
}

.carousel-image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-desc-container {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-tertiary);
    box-shadow: var(--inner-shadow-small);
    gap: 1rem;
}

.carousel-price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.carousel-price-span {
    text-decoration: line-through;
    font-weight: normal;
    font-size: 18px;
}

.carousel-price-strong {
    font-size: 22px;
    
}

.carousel-add-to-cart-btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 10px 15px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: var(--outer-shadow-small);
    transition: 0.3s ease;
}

.carousel-add-to-cart-btn:hover {
    opacity: 33%;
}


.add-to-cart-btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 15px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: var(--outer-shadow-small);
    transition: 0.3s ease;
}

.add-to-cart-btn:hover {
    opacity: 33%;
}

.share-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    background: var(--color-secondary);
    border: none;
    border-radius: 5px;
    height: 45px;
    width: 45px;
    box-shadow: var(--outer-shadow-small);
    transition: 0.3s ease;
}

.share-btn:hover {
    opacity: 30%;
    cursor: pointer;
}

.share-btn i {
    color: var(--color-primary);
    font-size: 30px;
}

.remove-all-button {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 10px 15px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: var(--outer-shadow-xtrasmall);
    transition: 0.3s ease;
}

.remove-all-button:hover {
    opacity: 33%;
    cursor: pointer;
}

.index-title-container {
    display: grid;
    grid-row: 1;
    grid-column: 1 / -1;
    margin-top: -15px;
    margin-bottom: -15px;
}

.success-title-container {
    margin-top: -15px;
    margin-bottom: -10px;
}

.checkout-title-container {
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 1 / -1;
    padding: 15px 0px 15px 0px;
}


.title-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    height: fit-content;
    text-align: center;
}


.title-middle-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.title-middle-container h1 {
    text-align: center;
    white-space: nowrap;
}

.title-right-container {
    display: flex;
    width: 100%;
}

.back-button-container {
    display: flex;
    width: fit-content
}

.back-button {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
    box-shadow:0px 0px 0px 3px var(--color-primary) inset;
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

.back-button:hover {
    opacity: 100%;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.profile-log-out-btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 15px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: var(--outer-shadow-xtrasmall);
    transition: 0.3s ease;
}

.profile-log-out-btn:hover {
    opacity: 30%;
    cursor: pointer;
}

.footer-buttons a {
    transition: 0.3s ease;
}

.footer-buttons a:hover {
    opacity: 30%;
}

.footer-socials i {
    font-size: 1.5em;
}