/* ### HEADER ### */

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;
}

.header-buttons i {
    font-size: 44px;
}

.toggleBtn-container {
    display: flex;
    flex: 1;
}

.toggle-btn,
.cart-button,
.header-profile-btn {
    background: transparent;
    border: none;
    transition: 0.3s ease;
}

.dropdown-nav {
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 22px;
    top: 100%;
    left: 0;
    width: 400px;
    background: var(--color-secondary);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 25;
}

.dropdown-nav a {
    z-index: 5;
    display: flex;
    gap: 10px;
    margin: 2rem;
    flex-direction: row-reverse;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.header-buttons-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
    gap: 60px;
}

.header-login-btn {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 25px;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

.header-register-btn {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    box-shadow: 0px 0px 0px 3px var(--color-primary) inset;
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

 @media (hover: hover) {
    .header-register-btn:hover {
        opacity: 100%;
        cursor: pointer;
        background-color: var(--color-primary);
        color: var(--color-secondary);
    }
 }

 .header-register-btn:active {
    opacity: 100%;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-secondary);
 }


.cart-button i {
    font-size: 37px;
}

.menu-log-out-btn {
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    font-weight: bold;
    gap: 10px;
    background: transparent;
    color: var(--color-primary);
    border: none;
    margin: 2rem;
    margin-left: 27px;
    transition: 0.3s ease;
}

.menu-log-out-btn i {
    font-size: 25px;
}

.header-logo {
    height: 46px;
    width: 100%;
    transition: 0.3s ease;
}

.cart-button {
    transition: 0.3s ease;
}


/* ### TOAST ### */

.toast-container {
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 8rem;
    right: 2rem;
    width: 350px;
    height: 200px;
    padding: 15px;
    border: 15px solid var(--color-secondary);
    background-color: var(--color-primary);
    box-shadow: var(--inner-shadow-small), var(--outer-shadow-medium);
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    border: none;
    background: transparent;
    transition: 0.3s ease;
}

.close-btn i {
    font-size: 20px;
    text-shadow:color(from color srgb r g b); /* Fix this later, cant use box-shadow */
}

.toast {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    word-break: break-word;
    font-weight: bold;
    gap: 20px;
}

.toast-title {
    font-size: 20px;
}

.toast-tile.success {
    color: var(--color-secondary);
    text-align: center;
}

.toast-title.error {
    color: var(--color-red);
}

.toast-title.removed {
    color: var(--color-red);
}

.toast-message {
    color: var(--color-secondary);
    font-weight: normal;
}


/* ### CAROUSEL ### */

.carousel-container {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 824px;
    height: 250px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.carousel-left-btn,
.carousel-right-btn {
    height: 100px;
    width: 50px;
    border: none;
    background-color: var(--color-secondary);
    box-shadow: var(--outer-shadow-large);
}

.carousel-left-btn i,
.carousel-right-btn i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 100%;
    width: 100%;
    color: var(--color-primary);
    cursor: pointer;
}

.carousel-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    height: auto;
    padding: 0;
    background-color: var(--color-secondary);
    border: 1rem solid var(--color-secondary);
    box-shadow: var(--outer-shadow-large);
}
.carousel-product-container {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    padding-top: 0;
    height: 228px;
    width: 220px;
    background-color: var(--color-white);
}

.carousel-image-container {
    height: 120px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease;
}

.carousel-image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-desc-container {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-tertiary);
    box-shadow: var(--inner-shadow-medium);
    gap: 1rem;
}

.carousel-price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.carousel-price-span {
    text-decoration: line-through;
    font-weight: normal;
    font-size: 18px;
}

.carousel-price-strong {
    font-size: 22px;
    
}

.add-to-cart-btn-xtrasmall,
.add-to-cart-btn-small,
.add-to-cart-btn-medium,
.add-to-cart-btn-large,
.all-products-add-to-cart-btn,
.all-products-add-to-cart-btn-mobile,
.single-prod-add-to-cart-btn,
.see-all-btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-weight: bold;
    border-radius: 50px;
    border: none;
    transition: 0.3s ease;
}

.add-to-cart-btn-xtrasmall {
    padding: var(--button-padding-xtrasmall);
    font-size: var(--button-text-xtrasmall);
    box-shadow: var(--outer-shadow-small);
}

.add-to-cart-btn-small {
    padding: var(--button-padding-small);
    font-size: var(--button-text-small);
    box-shadow: var(--outer-shadow-small);
}

.add-to-cart-btn-medium,
.all-products-add-to-cart-btn {
    padding: var(--button-padding-medium);
    font-size: var(--button-text-medium);
    box-shadow: var(--outer-shadow-medium);
}

.add-to-cart-btn-large,
.single-prod-add-to-cart-btn,
.see-all-btn {
    padding: var(--button-padding-large);
    font-size: var(--button-text-large);
    box-shadow: var(--outer-shadow-medium);
}

.share-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    background: var(--color-secondary);
    border: none;
    border-radius: 5px;
    height: 45px;
    width: 45px;
    box-shadow: var(--outer-shadow-medium);
    transition: 0.3s ease;
}

.share-btn i {
    color: var(--color-primary);
    font-size: 30px;
}

.remove-all-button {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 10px 15px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: var(--outer-shadow-small);
    transition: 0.3s ease;
}

.back-button {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
    box-shadow:0px 0px 0px 3px var(--color-primary) inset;
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

@media(hover: hover) {
    .back-button:hover {
        opacity: 100%;
        cursor: pointer;
        background-color: var(--color-primary);
        color: var(--color-secondary);
    }
}

.back-button:active {
    opacity: 100%;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.profile-log-out-btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 15px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: var(--outer-shadow-small);
    transition: 0.3s ease;
}

.footer-buttons a {
    transition: 0.3s ease;
}


.footer-socials i {
    font-size: 1.5em;
}


/* --- ALL HOVER EFFECTS WHEN SUPPORTED --- */
@media (hover: hover) {
    .toggle-btn:hover,
    .cart-button:hover,
    .header-profile-btn:hover,
    nav a:hover,
    .header-login-btn:hover,
    .menu-log-out-btn:hover,
    .profile-log-out-btn:hover,
    .footer-buttons a:hover,
    .share-btn:hover,
    .remove-all-button:hover,
    .carousel-add-to-cart-btn:hover,
    .add-to-cart-btn-small:hover,
    .add-to-cart-btn-medium:hover,
    .add-to-cart-btn-large:hover,
    .all-products-add-to-cart-btn:hover,
    .all-products-add-to-cart-btn-mobile:hover,
    .single-prod-add-to-cart-btn:hover,
    .see-all-btn:hover,
    .carousel-image-container:hover,
    .close-btn:hover,
    .header-logo:hover,
    .cart-button:hover {
        opacity: 30%;
        cursor: pointer;
    }
}


/* --- ACTIVE/CLICK EFFECT FOR MOBILE --- */
.toggle-btn:active,
.cart-button:active,
.header-profile-btn:active,
nav a:active,
.header-login-btn:active,
.menu-log-out-btn:active,
.profile-log-out-btn:active,
.footer-buttons a:active,
.share-btn:active,
.remove-all-button:active,
.carousel-add-to-cart-btn:active,
.add-to-cart-btn-small:active,
.add-to-cart-btn-medium:active,
.add-to-cart-btn-large:active,
.all-products-add-to-cart-btn:active,
.all-products-add-to-cart-btn-mobile:active,
.single-prod-add-to-cart-btn:active,
.see-all-btn:active,
.carousel-image-container:active,
.close-btn:active,
.header-logo:active,
.cart-button:active {
    opacity: 30%;
    cursor: pointer;
}