
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: var(--font-main);
}

header {
    z-index: 5;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: var(--font-main);
    font-size: 1.5rem;
    background-color: var(--color-secondary);
    height: 100px;
}

.hero-container {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}

.hero-background-image {
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-background-image {
  background-image: url(../../assets/images/desktop/desktop-background.jpg);
  background-position: bottom center;
}

.loading-indicator {
    display: block;
    position: fixed;
    top: 15%;
    left: 5%;
    padding: 30px;
    font-size: 30px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

/* ### INDEX PAGE / ALL PRODUCTS PAGE ### */

.all-products-container {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    max-width: 1200px;
    gap: 30px;
    height: auto;
    margin: auto;
    margin-bottom: 140px;
    padding: 0;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-secondary);
    box-shadow: var(--outer-shadow-large);
}

.product-container {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    padding-top: 0;
    height: 300px;
    width: 300px;
    background-color: var(--color-white);
}

.product-image-container {
    height: 160px;
    width: 300px;
    overflow: hidden;
    transition: 0.3s ease;
}

.product-image-container:hover {
    opacity: 30%;
    cursor: pointer;
}

.product-image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-desc-container {
    height: 140px;
    width: 300px;
    background-color: var(--color-tertiary);
    object-fit: contain;
    box-shadow: var(--inner-shadow-small);
}

.desc-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: 70px;
}

.desc-container-bottom {
    display: flex;
    flex-shrink: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px 15px 10px;
    height: 70px;
}


/* ### SINGLE PRODUCT / DETAILS PAGE ### */

.single-product-container {
    z-index: 2;
    display: grid;
    justify-items: center;
    width: 725px;
    height: 100%;
    margin: auto;
    margin-bottom: 160px;
    padding: 0;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-secondary);
    box-shadow: var(--outer-shadow-large);
}

.single-product-img-container {
    position: relative;
    width: 100%;
    height: 560px;
    overflow: hidden;
}

.single-product-img-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-product-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 100%;
    padding: 0px 40px 40px 40px;
    gap: 40px;
    background-color: var(--color-tertiary);
    box-shadow: var(--inner-shadow-large);
}

.single-product-details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    color: var(--color-secondary);

}

.single-product-bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding-top: 15px;
}

.review-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    width: 100%;
    height: auto;
    background-color: var(--color-tertiary);
    align-items: center;
}

.review-content-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
    align-self: flex-start;
    background-color: var(--color-secondary);
    color: var(--color-white);
    width: 100%;
}

.review-name {
    font-size: 20px;
    font-weight: bold;
}

.review {
    font-style: italic;
}


/* ### CART PAGE ### */

.cart-container {
    display: grid;
    width: 725px;
    margin: auto;
    margin-bottom: 160px;
    padding: 0;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-secondary);
}

.empty-cart-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-tertiary);
    min-height: 300px;
    gap: 30px;
    width: 100%;
}

.empty-cart-content-container span {
    color: var(--color-secondary);
    font-size: 20px;
}

.cart-content-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cart-content-left-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
}

.cart-product-container {
    display: flex;
    flex-direction: row;
    height: 175px;
    width: 441px;
    background-color: var(--color-white);
}

.cart-product-image-container {
    width: 275px;
    height: 175px;
    overflow: hidden;
    transition: 0.3s ease;
}

.cart-product-image-container:hover {
    opacity: 30%;
    cursor: pointer;
}

.cart-product-image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-product-side-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 255px;
    gap: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-top: 5px;
    background-color: var(--color-tertiary);
    width: 100%;
    box-shadow: var(--inner-shadow-small);
}

.cart-product-side-container h2 {
    margin: 0;
    text-align: start;
}

.remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 7px;
    margin-right: 3px;
    border: none;
    background: transparent;
    transition: 0.3s ease;
}

.remove-btn:hover {
    opacity: 30%;
    cursor: pointer;
}

.remove-btn i {
    font-size: 20px;
    text-shadow:color(from color srgb r g b); /* Fix this later, cant use box-shadow */
}

.quantity-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.quantity-btns {
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border-radius: 5px;
    height: 25px;
    width: 30px;
    box-shadow: var(--outer-shadow-xtrasmall);
    transition: 0.3s ease;
}

.quantity-btns:hover {
    opacity: 30%;
    cursor: pointer;
}

.cart-content-right-container {
    display: flex;
    flex-direction: column;
    justify-content: top center;
    align-items: center;
    height: 100%;
    gap: 3rem;
    padding: 20px;
    background-color: var(--color-tertiary);
}


/* ### FORM CONTAINER, INPUTS AND LABELS ### */

.form-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-tertiary);
    width: 100%;
    height: 100%;
    padding: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: var(--inner-shadow-large);
    gap: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 220px;
    gap: 30px;
    justify-content: flex-start;
}

.summary-group {
    display: flex;
    flex-direction: column;
    width: 220px;
    gap: 30px;
    justify-content: flex-start;
}


/* ### CHECKOUT PAGE ### */

.checkout-container {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    max-width: 1200px;
    gap: 30px;
    height: auto;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 160px;
    padding: 0;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-secondary);
    box-shadow: var(--outer-shadow-large);
}

.checkout-form-containers {
    display: flex;
    flex-direction: column;
}

.checkout-title-containers {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    text-align: center;
}

.shipping-container {
    grid-row: span 2;
}

.split-input {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%
}

.split-input > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.split-input input {
    box-sizing: border-box;
    width: 100%;
}

.split-input label {
    margin-bottom: 5px;
}

.summary-field {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.summary-left-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* ### SUCCESS PAGE ### */

.success-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 725px;
    gap: 15px;
    margin: auto;
    margin-top: 160px;
    margin-bottom: 160px;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-secondary);
    box-shadow: var(--outer-shadow-large);
}

.succ-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 60px;
    padding: 30px;
    background-color: var(--color-tertiary);
    box-shadow: var(--inner-shadow-large);
}


/* ### REGISTER PAGE ### */

.register-container {
    display: grid;
    width: 725px;
    margin: auto;
    margin-bottom: 160px;
    padding: 0;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-secondary);
}

.register-form-container {
    padding-top: 40px;
}

.form-group button {
    width: fit-content;
    align-self: center;
}


.login-text {
    color: var(--color-secondary);
}


/* ### LOGIN PAGE ### */

.login-container {
    display: grid;
    width: 725px;
    margin: auto;
    margin-bottom: 160px;
    padding: 0;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-secondary);
}

.login-form-container {
    padding-top: 40px;
}

/* ### PROFILE PAGE ### */

.profile-container {
    display: grid;
    width: 725px;
    margin: auto;
    margin-bottom: 160px;
    padding: 0;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-secondary);

}

.profile-content-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-tertiary);
    width: 100%;
    height: 100%;
    padding: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: var(--inner-shadow-large);
    gap: 30px;
}

.profile-text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.profile-content-container i {
    font-size: 75px;
    color: var(--color-secondary);
}

/* ### FOOTER ### */

footer {
    z-index: 5;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-secondary);
    height: 100px;
}

.footer-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.footer-socials {
    display: flex;
    gap: 3rem;
    font-size: 1.5em;
}
