
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: var(--font-main);
}

header {
    display: flex;
    position: relative;
    width: 100vw;
    font-family: var(--font-main);
    font-size: 1.5rem;
    background-color: var(--color-secondary);
    height: 100px;
    margin-bottom: 2rem;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}

.hamburger-icon {
    display: block;
    font-size: 2em;
    transition: 0.3s ease;
    cursor: pointer;
}

/* HIDES CHECKBOX THAT TRIGGERS HAMBURGER MENU TO OPEN --- */
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  max-height: 600px;
  overflow: auto;
}

nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  top: 100%;
  left: 0;
  width: 400px;
  background: var(--color-secondary);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  z-index: 25;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}


.hero-container {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}

.hero-background-image {
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-background-image {
  background-image: url(../../assets/images/desktop/desktop-laptop-background.jpg);
  background-position: bottom center;
}

.loading-indicator {
    display: block;
    position: fixed;
    top: 15%;
    left: 5%;
    padding: 30px;
    font-size: 30px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.title-container {
    grid-row: 1;
    grid-column: 1 / -1;
    justify-self: center;
}

/* ### INDEX PAGE / ALL PRODUCTS PAGE ### */

.all-products-container {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    max-width: 1200px;
    gap: 30px;
    height: auto;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0;
    background-color: var(--color-secondary);
    border: 2rem solid var(--color-secondary);
    box-shadow: var(--outer-shadow-large);
}

.product-container {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    padding-top: 0;
    height: 300px;
    width: 300px;
    background-color: var(--color-white);
}

.product-image-container {
    height: 160px;
    width: 300px;
    overflow: hidden;
    transition: 0.3s ease;
}

.product-image-container:hover {
    opacity: 30%;
    cursor: pointer;
}

.product-image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-desc-container {
    height: 140px;
    width: 300px;
    background-color: var(--color-tertiary);
    object-fit: contain;
    box-shadow: var(--inner-shadow-small);
}

.desc-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: 70px;
}

.desc-container-bottom {
    display: flex;
    flex-shrink: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 70px;
}

.product-desc-container span {
    font-size: 12px;
    color: var(--color-secondary);
}

.price-span {
    font-size: 40px;
    font-weight: bold;
}

strong {
    color: red;
    font-size: 15px;
}


/* ### SINGLE PRODUCT / DETAILS PAGE ### */

.single-product-container {
    z-index: 2;
    display: grid;
    justify-items: center;
    width: 700px;
    height: auto;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-secondary);
    box-shadow: var(--outer-shadow-large);
}

.single-product-img-container {
    position: relative;
    width: 633px;
    height: 560px;
    overflow: hidden;
}

.single-product-img-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-product-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 633px;
    height: 479px;
    padding: 40px;
    gap: 25px;
    background-color: var(--color-tertiary);
    box-shadow: var(--inner-shadow-large);
}

.single-product-desc-container p {
    width: 100%;
    text-align: center;
}

.single-product-details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    color: var(--color-secondary);

}

.single-product-bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.single-product-title-span {
    font-weight: bold;
    font-size: 20px;
}

.single-product-bottom-container strong {
    font-size: 30px;
}


/* ### CART PAGE ### */

.cart-container {
    display: grid;
    width: 700px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-secondary);
}

.empty-cart-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-tertiary);
    min-height: 300px;
    gap: 30px;
    width: 100%;
}

.empty-cart-content-container span {
    color: var(--color-secondary);
    font-size: 20px;
}

.cart-content-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cart-content-left-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
}

.cart-product-container {
    display: flex;
    flex-direction: row;
    height: 175px;
    width: 441px;
    background-color: var(--color-white);
}

.cart-product-image-container {
    width: 275px;
    height: 175px;
    overflow: hidden;
    transition: 0.3s, ease;
}

.cart-product-image-container:hover {
    opacity: 30%;
    cursor: pointer;
}

.cart-product-image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-product-side-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 255px;
    gap: 1rem;
    padding: 25px;
    background-color: var(--color-tertiary);
    width: 100%;
    box-shadow: var(--inner-shadow-small);
}

.remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 7px;
    margin-right: 3px;
    border: none;
    background: transparent;
    transition: 0.3s, ease;
}

.remove-btn:hover {
    opacity: 30%;
    cursor: pointer;
}

.remove-btn i {
    font-size: 20px;
    text-shadow:color(from color srgb r g b); /* Fix this later, cant use box-shadow */
}

.quantity-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.quantity-btns {
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border-radius: 5px;
    height: 25px;
    width: 30px;
    box-shadow: var(--outer-shadow-xtrasmall);
    transition: 0.3s, ease;
}

.quantity-btns:hover {
    opacity: 30%;
    cursor: pointer;
}

.cart-content-right-container {
    display: flex;
    flex-direction: column;
    justify-content: top center;
    align-items: center;
    height: 100%;
    gap: 3rem;
    padding: 20px;
    background-color: var(--color-tertiary);
}


/* ### FORM CONTAINER, INPUTS AND LABELS ### */

.form-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-tertiary);
    width: 100%;
    height: 100%;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 220px;
    gap: 30px;
    justify-content: flex-start;
}

label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -25px;
    align-self: left;
}

input {
    height: 40px;
    width: 220px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    box-shadow: var(--inner-shadow-small), var(--outer-shadow-xtrasmall);
    border: 1px solid grey;
}


/* ### REGISTER PAGE ### */

.register-container {
    display: grid;
    width: 700px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-secondary);
}

.form-container {
    gap: 30px;
}

.form-group button {
    width: fit-content;
    align-self: center;
}


.login-text {
    color: var(--color-secondary);
}


/* ### LOGIN PAGE ### */

.login-container {
    display: grid;
    width: 700px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-secondary);
}


/* ### FOOTER ### */

footer {
    display: flex;
    position: relative;
    background-color: var(--color-secondary);
    height: 100px;
    margin-top: auto;
}

.footer-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.footer-socials {
    display: flex;
    gap: 3rem;
    font-size: 1.5em;
}
