

@media (max-width: 1200px) {

    .all-products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 780px) {

    .hero-background-image {
        background-image: url(../../assets/images/mobile/mobile-2-hero-background.jpg);
    }
    
    header {
        height: 60px;
        margin-bottom: 1rem;
    }

    nav {
        width: 100vw;
    }

    .header-buttons {
        padding: 1rem;
    }

    .hamburger-icon {
        font-size: 33px;
    }

    .header-logo {
        display: none;
    }

    .cart-button {
        font-size: 28px;
    }

    .carousel-container {
        display: none;
    }

    /* --- INDEX PAGE --- */

    .all-products-container {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 2rem;
        gap: 15px;
        border: 15px solid var(--color-secondary);
    }

    .product-container {
        flex-direction: row;
        width: 250px;
        height: 140px;
    }

    .product-image-container {
        height: 140px;
        width: 125px;
    }

    .product-desc-container {
        display: flex;
        flex-direction: column;
        height: 140px;
        width: 125px;
        align-items: center;
        gap: 10px;
        padding: 5px;
        box-shadow: var(--inner-shadow-xtrasmall);
    }

    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 12px;
    }

    .price-span {
    font-size: 10px;
    }

    .price-span strong {
        font-size: 15px;
    }




    footer {
        height: 60px;
    }

    .footer-buttons {
        justify-content: space-around;
    }

    .footer-logo {
        display: none;
    }

    .footer-socials {
    display: flex;
    font-size: 25px;
    }

    .footer-socials i {
    font-size: 25px;
    }   

}

@media (min-width: 780px) {
    .header-logo-mobile {
        display: none;
    }
}

@media (max-width: 470px) {
    .hero-background-image {
        background-image: url(../../assets/images/mobile/mobile-1-hero-background.jpg);
    }
}