

@media (max-width: 1200px) {

    .header-login-btn,
    .header-register-btn {
        display: none;
    }

    .all-products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 950px) {
    
    .carousel-container {
        display: none;
    }

    .all-products-container {
        margin-top: 80px;
    }

    /* --- SINGLE PRODUCT PAGE 950px MAX --- */
    .single-product-container {
        width: 500px;
        height: 100%;
        margin-top: 60px;
    }

    .single-product-container h1 {
        font-size: 25px;
    }

    .single-product-container h2 {
        font-size: 25px;
    }

    .single-product-img-container {
        position: relative;
        width: 440px;
        height: 400px;
        overflow: hidden;
    }

    .single-product-desc-container {
        width: 440px;
        height: 100%;
        padding: 0px 30px 30px 30px;
    }

    .single-product-desc-container p {
        font-size: 15px;
    }

    .tags,
    .product-id {
        font-size: 12px;
    }

     .rating {
        font-size: 18px;
    }

    .single-product-title-span {
        font-size: 15px;
    }

    .single-product-price {
        font-size: 12px;
    }

    .single-prod-add-to-cart-btn {
        padding: var(--button-padding-medium);
        font-size: var(--button-text-medium);
        box-shadow: var(--outer-shadow-small);
    }

    .review-title {
        font-size: 20px;
    }

    .cart-container,
    .success-container,
    .register-container,
    .login-container,
    .profile-container {
        margin-top: 60px;
    }
}


@media (max-width: 780px) {

    .hero-background-image {
        background-image: url(../../assets/images/mobile/mobile-2-hero-background.jpg);
    }

    /* --- TOAST 780px MAX --- */
    .toast-container {
        top: 80px;
        right: 20px;
    }
    
    /* --- HEADER 780px MAX --- */
    header {
        height: 60px;
    }

    .dropdown-nav {
        width: 100%;
        padding-left: 5px;
    }

    .dropdown-nav a {
        margin: 20px;
        font-size: 20px;
    }

    .menu-log-out-btn {
        margin: 20px;
        margin-left: 18px;
        font-size: 19px;
    }

    .menu-log-out-btn i {
        font-size: 20px;
    }

    .header-buttons {
        padding: 1rem;
    }

    .header-buttons i {
        font-size: 33px;
    }

    .header-logo-img {
        display: none;
    }

    .header-logo-img-mobile {
        display: flex;
    }

    .header-login-btn,
    .header-register-btn {
        display: none;
    }

    .cart-button i {
        font-size: 28px;
    }

    .back-button {
       display: none;
    }

    .title-container {
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    /* --- INDEX PAGE 780px MAX --- */

    .all-products-container {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
        margin-bottom: 100px;
        gap: 30px;
        border: 30px solid var(--color-secondary);
    }

    .product-container {
        flex-direction: row;
        width: 350px;
        height: 196px;
    }

    .product-image-container {
        height: 196px;
        width: 175px;
    }

    .product-desc-container {
        display: none;
    }

    .desc-container-mobile {
        display: flex;
        flex-direction: column;
        height: 196px;
        width: 175px;
        align-items: center;
        background-color: var(--color-tertiary);
        box-shadow: var(--inner-shadow-small);
        gap: 20px;
        padding: 5px;
        box-shadow: var(--inner-shadow-xtrasmall);
    }

    .all-products-add-to-cart-btn-mobile {
        display: flex;
        padding: var(--button-padding-small);
        font-size: var(--button-text-small);
        box-shadow: var(--outer-shadow-small);
    }


    .all-products-container h1 {
        font-size: 25px;
    }

    .h2-mobile {
        font-size: 15px;
    }

    .price-span-mobile {
    font-size: 15px;
    }

    .price-span-mobile strong {
        font-size: 20px;
    }


    /* --- SINGLE PRODUCT PAGE 780px MAX --- */

    .single-product-container {
        width: 350px;
        height: 100%;
        border: 15px solid var(--color-secondary);
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .single-product-container h1 {
        font-size: 20px;
    }

    .single-product-container h2 {
        font-size: 20px;
    }

    .single-product-img-container {
        position: relative;
        width: 320px;
        height: 280px;
        overflow: hidden;
    }

    .single-product-desc-container {
        width: 320px;
        height: 100%;
        padding: 0px 25px 25px 25px;
        gap: 10px;
        box-shadow: var(--inner-shadow-small);
        align-items: center;
        text-align: center;
    }

    .single-product-desc-container p {
        font-size: 12px;
        height: 100%;
    }

    .single-product-details-container {
        gap: 25px;
        height: 100%;
    }

    .single-product-details-container span {
        font-size: 12px;
    }

    .single-product-title-span {
        font-size: 15px;
    }

    .single-product-price-discounted {
        font-size: 12px;
    }

    .single-product-bottom-container {
        flex-direction: column;
        gap: 25px;
        height: 100%;
        padding-bottom: 15px;
    }

    .single-product-bottom-container strong,
    .single-product-price-normal {
        font-size: 20px;
    }
    .single-prod-add-to-cart-btn {
        padding: var(--button-padding-small);
        font-size: var(--button-text-small);
        box-shadow: var(--outer-shadow-small);
    }

    .review-container {
        margin-top: 0;
        gap: 15px;
        
    }

    .review-title {
        font-size: 15px;
        margin-bottom: -15px;
    }

    .review-content-container {
        padding: 10px;
    }

    .review-name {
        font-size: 15px;
    }

    .review-rating,
    .review {
        font-size: 10px;
    }

    /* --- CART AND SUCCESS PAGE 780px MAX --- */

    .cart-container,
    .success-container {
        width: 500px;
    }

    .cart-container {
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .cart-container h1,
    .success-container h1 {
        font-size: 25px;
    }

    .empty-cart-content-container {
        gap: 60px;
    }

    .cart-content-container {
        flex-direction: column;
    }

    .cart-product-side-container {
        width: 100%;
        gap: 20px;
    }

    .cart-product-side-container span {
        font-size: 20px;
    }

    .remove-btn i {
        font-size: 30px;
    }

    .quantity-container {
        gap: 15px;
    }

    .quantity-btns {
        height: 35px;
        width: 40px;
    }

    .quantity-btns i {
        font-size: 18px;
    }

    .quantity-container span {
        font-weight: bold;
        font-size: 25px;
    }

    .cart-content-right-container {
        width: 100%;
        gap: 20px;
    }

    /* --- CHECKOUT PAGE 780px MAX ---*/
    .checkout-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    }

    .checkout-title-container {
        margin-bottom: 15px;
    }

    /* --- REGISTER, LOGIN AND PROFILE PAGE 780px MAX --- */
    .register-container,
    .login-container,
    .profile-container {
        width: 500px;
    }

    .register-container h1,
    .login-container h1,
    .profile-container h1 {
        font-size: 20px;
    }

    .profile-content-container i {
        font-size: 50px;
    }


    /* --- FOOTER 780px MAX --- */
    footer {
        height: 60px;
    }

    .footer-buttons {
        justify-content: space-around;
    }

    .footer-logo {
        display: none;
    }

    .footer-socials {
    display: flex;
    gap: 80px;
    }

    .footer-socials i {
    font-size: 30px;
    }

}

@media (max-width: 590px) {

    /* --- TOAST 590px MAX --- */
    .toast-container {
        top: 80px;
        right: 20px;
        width: 250px;
        height: 150px;
        padding: 10px;
        border: 7px solid var(--color-secondary);
    }

    .toast-title {
        font-size: 15px;
    }

    .toast-message {
        font-size: 10px;
    }

    /* --- CART AND SUCCESS PAGE 590px MAX --- */
    .cart-container,
    .success-container {
        width: 350px;
        border: 15px solid var(--color-secondary);
    }

     .cart-container h1,
     .success-container h1 {
        font-size: 20px;
    }

    .empty-cart-content-container {
        height: 200px;
        min-height: 0;
        gap: 20px;
    }

    .succ-content-container {
        gap: 20px;
    }

    .empty-cart-content-container span {
        font-size: 15px;
        gap: 30px;
    }

    .success-span1 {
        font-size: 15px;
    }

    .success-span2 {
        font-size: 10px;
    }

    .see-all-btn {
        padding: var(--button-padding-medium);
        font-size: var(--button-text-medium);
        box-shadow: var(--outer-shadow-small);
    }

    .cart-content-container {
        gap: 15px;
    }

    .cart-content-left-container {
        gap: 15px;
    }

    .cart-product-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 320px;
    background-color: var(--color-white);
    }
    
    .cart-product-side-container {
        width: 100%;
        gap: 20px;
        padding-left: 15px;
        padding-top: 30px;
    }

    .cart-product-side-container h2,
    .cart-product-side-container span {
        font-size: 15px;
        align-self: flex-start;
        
    }
    

    .quantity-container {
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .quantity-container span {
        font-size: 25px;
    }


    .remove-btn i {
        font-size: 20px;
    }

    /* --- REGISTER, LOGIN AND PROFILE PAGE 590px MAX --- */
    .register-container,
    .login-container,
    .profile-container {
        width: 400px;
        border: 15px solid var(--color-secondary);
    }

    .register-form-container,
    .login-form-container {
        padding: 40px 60px 30px 60px;
    }

    .register-form-container a,
    .login-form-container a {
        text-align: center;
    }

}


@media (max-width: 480px) {

    /* --- HEADER --- */
    .header-profile-btn {
        display: none;
    }

    /* --- TOAST 480px MAX --- */
    .toast-container {
        width: 225px;
        height: 125px;
    }

    /* --- INDEX PAGE 480px MAX --- */
    .all-products-container {
        gap: 15px;
        border: 15px solid var(--color-secondary);
    }

    .all-products-container h1 {
        font-size: 20px;
    }

    .product-container {
        flex-direction: row;
        width: 250px;
        height: 137px;
    }

    .product-image-container {
        height: 137px;
        width: 125px;
    }

    .desc-container-mobile {
        height: 137px;
        width: 125px;
        gap: 12px;
        padding: 5px;
        box-shadow: var(--inner-shadow-xtrasmall);
    }

    .all-products-container h1 {
        font-size: 20px;
    }

    .h2-mobile {
        font-size: 10px;
    }

    .price-span-mobile {
    font-size: 12px;
    }

    .price-span-mobile strong {
        font-size: 12px;
    }

    .all-products-add-to-cart-btn-mobile {
        display: flex;
        padding: var(--button-padding-xtrasmall);
        font-size: var(--button-text-xtrasmall);
        box-shadow: var(--outer-shadow-xtrasmall);
    }


    /* --- SINGLE PRODUCT PAGE 480px MAX --- */
    .single-product-container {
        width: 300px;
        height: 100%;
        border: 15px solid var(--color-secondary);
    }

    .single-product-container h1 {
        font-size: 20px;
    }

    .single-product-container h2 {
        font-size: 20px;
    }

    .single-product-img-container {
        position: relative;
        width: 270px;
        height: 196px;
        overflow: hidden;
    }

    .share-btn {
        width: 30px;
        height: 30px;
        box-shadow: var(--outer-shadow-xtrasmall);
    }

    .share-btn i {
        font-size: 19px;
    }

    .single-product-desc-container {
        width: 270px;
        height: 100%;
        padding: 0px 15px 15px 15px;
        gap: 10px;
    }

    .single-product-desc-container p {
        font-size: 12px;
        height: 100%;
    }

    .single-product-details-container {
        gap: 25px;
        height: 100%;
    }

    .single-product-details-container span {
        font-size: 12px;
    }

    .single-product-title-span {
        font-size: 15px;
    }

    .single-product-bottom-container {
        flex-direction: column;
        gap: 25px;
        height: 100%;
    }

    .single-product-bottom-container strong {
        font-size: 20px;
    }
    .single-prod-add-to-cart-btn {
        padding: var(--button-padding-small);
        font-size: var(--button-text-small);
        box-shadow: var(--outer-shadow-small);
    }

    .review-container {
        padding: 10px;
    }

    /* --- FOOTER  480px MAX --- */
    .footer-socials {
    display: flex;
    gap: 50px;
    }

    .footer-socials i {
    font-size: 25px;
    }

    /* --- REGISTER, LOGIN AND PROFILE PAGE 480px MAX --- */
    .register-container,
    .login-container,
    .profile-container {
        width: 300px;
    }

    .register-form-container,
    .login-form-container {
        padding: 30px 20px 20px 20px;
        box-shadow: var(--inner-shadow-small);
    }

    .profile-content-container {
        padding: 20px 10px 20px 10px;
        box-shadow: var(--inner-shadow-small);
    }

    .profile-title-span,
    .profile-span {
        font-size: 15px;
    }
}

@media (max-width: 420px) {

    /* --- CART PAGE 420px MAX --- */

    .cart-container,
    .success-container {
        width: 290px;
    }

    .cart-product-image-container {
        height: 180px;
        width: 100px;
    }

    .cart-product-container {
        width: 260px;
        height: 100%;
    }
    
    .cart-product-side-container {
        width: 100%;
        gap: 20px;
        padding-left: 25px;
        padding-right: 25px;
        align-items: center;
        
    }

    .cart-product-side-container h2,
    .cart-product-side-container span {
        font-size: 15px;
    }

    .quantity-container span {
        font-size: 25px;
    }

    /* --- CHECKOUT PAGE 420px MAX --- */
    .checkout-container {
        width: 280px;
        border: 15px solid var(--color-secondary);
    }

    .checkout-title-container h1 {
        font-size: 20px;
    }

    .form-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .checkout-title-containers h2 {
        font-size: 15px;
    }
}


@media (min-width: 781px) {
    .header-logo-img-mobile {
        display: none;
    }

    .desc-container-mobile,
    .all-products-add-to-cart-btn-mobile,
    .price-span-mobile {
        display: none;
    }
}

@media (max-width: 470px) {
    .hero-background-image {
        background-image: url(../../assets/images/mobile/mobile-1-hero-background.jpg);
    }
}