h1, h2, h3, p, span, strong {
    font-family: var(--font-main);
}

h1 {
    color: var(--color-primary);
}

h2 {
    font-family: var(--font-main);
    font-size: 30px;
}

h3 {
    font-size: 20px;
    margin-bottom: 5px;
    
}

p {
  font-size: 20px;
}

label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -25px;
}

input {
    height: 40px;
    width: 220px;
    border-radius: 3px;
    font-size: 15px;
    padding: 10px;
    box-shadow: var(--inner-shadow-small), var(--outer-shadow-xtrasmall);
    border: 1px solid #4D4D4D;
}

.checkout-title-containers {
    margin-bottom: 15px;
    margin-top: -30px;
}

.success-span1 {
    font-weight: bold;
    font-size: 25px;
}

.success-span2 {
    font-size: 18px;
}