h1, h2, h3, p, span, strong, a {
    font-family: var(--font-main);
}

h1, a {
    color: var(--color-primary);
}

h2 {
    font-size: 20px;
    text-align: center;
}

p {
  font-size: 20px;
}


label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -25px;
}

input {
    height: 40px;
    width: 220px;
    border-radius: 3px;
    font-size: 15px;
    padding: 10px;
    box-shadow: var(--inner-shadow-small), var(--outer-shadow-xtrasmall);
    border: 1px solid #4D4D4D;
}

strong {
    color: var(--color-red);
}

/* ### INDEX PAGE ### */

.product-desc-container span {
    color: var(--color-secondary);
}

.price-span {
    font-size: 15px;
}

.price-span strong {
    font-size: 20px;
}


/* ### CART PAGE ### */

.quantity-container span {
    font-weight: bold;
    font-size: 18px;
}

.cart-content-right-container span {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.cart-content-right-container strong {
    padding: 10px;
    font-size: 22px;

}


/* ### CHECKOUT PAGE ### */

.checkout-title-containers {
    margin-top: -30px;
}


/* ### SUCCESS PAGE ### */

.success-span1 {
    font-weight: bold;
    font-size: 25px;
}

.success-span2 {
    font-size: 18px;
}


/* ### PROFILE PAGE ### */

.profile-title-span {
    font-weight: bold;
    font-size: 20px;
}

.profile-span {
    font-size: 18px;
}


/* ### LOGIN AND REGISTER PAGE ### */

.form-container a {
    text-decoration: none;
}