:root {

  /* --- MAIN COLORS FROM DESIGN PROJECT --- */
  --color-primary: #D3BE25;
  --color-secondary: #000000;
  --color-tertiary: #CBAC38;
  --color-red: #8A0000;
  --color-white: #ffffff;
  --color-grey2: #4D4D4D;

  /* --- FONT STACK --- */
  --font-main: 'Segoe UI', sans-serif;

  /* --- SHADOWS --- */
  --inner-shadow-small: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
  --inner-shadow-medium: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  --inner-shadow-large: inset 8px 8px 8px 0px rgba(0, 0, 0, 0.5);
  
  --outer-shadow-small: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
  --outer-shadow-medium: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  --outer-shadow-large: 8px 8px 8px 0px rgba(0, 0, 0, 0.5);

  /* --- BUTTONS --- */
  --button-padding-xtrasmall: 11px 16px;
  --button-padding-small: 13px 18px;
  --button-padding-medium: 15px 20px;
  --button-padding-large: 20px 25px;

  --button-text-xtrasmall: 8px;
  --button-text-small: 10px;
  --button-text-medium: 12px;
  --button-text-large: 20px;
}

header,
footer {
  color: var(--color-primary);
  background: var(--color-secondary);
}

header a,
header i,
footer a,
footer i {
  color: var(--color-primary);
}